---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
---

<BaseLayout title="jireh's blog">
  <header>
    <ThemeToggle />
  </header>
  <main>
    <h1>jireh's blog</h1>
  </main>
</BaseLayout>
